.App {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#name {
  margin: 47px 0px 0px 0px;
  font-size: 60px;
}
#title {
  margin: 0px 0px 3px 10px;
  font-size: 45px;
}
#headshot {
  width: 325px;
  height: auto;
}
#brand {
  width: 550px;
  align-self: center;
}
#brandstatement {
  margin: 10px 0px 20px 0px;
}
.icon {
  width: 50px;
  height: auto;
}
#icons {
  display: flex;
  width: 325px;
  justify-content: space-between;
  margin-top: 15px;
}
.downarrow {
  margin-top: 80px;
  width: 40px;
  height: auto;
}
