h3, h1, h2 {
  margin: 0px;
}
body {
  /* color: #444444; */
  /* background-image: url('../public/images/tomma.jpg'); */
  background-color: #444444;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
a {
  text-decoration: none;
  color: #C0C0C0;
}

/* Nav */
.navcontainer {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 60px;
}
.navelement {
  margin-right: 20px;
  font-size: 20px;
}


/* App */
.App {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 100px 30px 0px 30px;
}
#name {
  font-size: 60px;
}
#title {
  font-size: 45px;
  color: #C0C0C0;
}
#headshot {
  width: 350px;
  height: auto;
  margin: 0px 30px 0px 30px;
}
#headshotdiv {
  display: flex;
  align-items: center;
}
.icon {
  height: auto;
  margin: 0px 10px 0px 0px;
}
.linkedin, .gmail {
  width: 80px;
}
.twitter {
  width: 75px;
}
.twitter {
  margin-top: 5px;
}
.gmail {
  margin-top: 12px;
}
.github {
  margin: 10px 15px 0px 0px;
  width: 62px;
}
#icons {
  display: flex;
  flex-direction: row;
  margin: 0px 20px 0px 0px;
}
#homecontainer {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-bottom: 40px;
}
.downarrow {
  margin: 80px 0px 80px 0px;
  width: 40px;
  height: auto;
}
#titlediv {
  margin-left: 30px;
}
#brandstatement {
  margin: 15px 45px 10px 0px;
  font-size: 20px;
}

/* Resume */
.edulogo {
  height: 65px;
}
.galogo, .edulogo {
  width: 60px;
  margin: 10px 20px 0px 20px;
}
.schoollogo {
  display: flex;
  flex-direction: row;
  margin: 36px 20px 0px 0px;
}
#resumecontainer {
  display: flex;
  flex-direction: row;
}
#resumebtn {
  font-size: 35px;
  padding: 15px;
  width: 200px;
  margin: 0px 20px 0px 0px;
}
.locationyear {
  display: flex;
  flex-direction: row;
}
.eduyear {
  margin-left: auto;
  font-size: 20px;
  margin-top: 5px;
}
.locationyear, .degreegpa {
  margin-left: 20px;
}
.degree, .gpa {
  font-size: 22px;
  margin-top: 15px;
}
.degree {
  font-size: 27px;
}
.degree:hover, .repo:hover {
  text-decoration: underline;
  color: #C0C0C0;
}
.edulocation {
  font-size: 15px;
  margin-top: 8px;
}
.gabio {
  margin-bottom: 30px;
}
.edu {
  margin: 10px 30px 0px 30px;
}
#arrowresume {
  margin: 60px 0px 40px 0px;
}
#resumepage {
margin: 0px 60px 50px 50px;
}
.school {
  font-size: 35px;
}
#downloadimg {
  width: 75px; 
  height: auto;
}
#download {
  font-size: 45px;
  color: black;
  margin-left: 30px;
}
#downloaddiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.pagetitlediv {
  margin: 15px 0px 20px 30px;
}
.pagetitle {
  font-size: 35px;
}
.arrowcontainer {
  display: flex;
  justify-content: center;
}

/* Projects */
.projectscontainer {
  margin: 20px 60px 50px 60px;
}
.allprojects {
  display: flex;
  flex-direction: row;
  margin: 40px 0px 0px 0px;
  justify-content: center;
}
.projectimg {
  /* 85% ratio */
  width: 450px;
  height: 383px;
}
.projecttitle {
  display: flex;
  justify-content: center;
  font-size: 38px;
}
.weatherdiv {
  margin-left: 60px;
}
.projectdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.repo {
  font-size: 30px;
}
.front {
  margin-right: 27px;
}
.back {
  margin-left: 23px;
}
.projectinfo {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 25px 0px;
  font-size: 55px;
  color: #C0C0C0;
}
.linkicon {
  width: 47px;
  height: auto;
  margin: 30px 0px 40px 0px;
}
.projectlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.details {
  font-size: 50px;
  cursor: default;
}
.details:hover {
  text-decoration: underline;
}
.detailsdiv {
  text-align: center;
  width: 500px;
  margin-right: 0px;
}
.seemore {
  font-size: 20px;
  margin-right: 0px;
}

/* About */
#about {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 50px;
}
#abouttitle {
  font-size: 35px;
}
.interestpic {
  width: 300px; 
  height: 275px;
}
.aboutpic {
  width: 400px;
  height: auto;
}
.aboutcontainer {
  margin: 0px 60px 30px 60px;
  display: flex; 
  flex-direction: row;
}
.igicon, .spoticon, .leo {
  width: 50px;
  height: auto;
}
.igicon, .leo {
  margin-left: 20px;
}
.igmusic {
  margin-bottom: 20px;
}
.about {
  margin-left: 5px;
}
.abouttitle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.abouttitle2 {
  display: none;
}
.navab {
  margin-bottom: 0px;
}
.aboutpic {
  margin-top: 65px;
}


/* media queries */
@media screen and (min-width: 1070px) {
  #titlediv {
    width: 600px;
  }
  #resumecontainer {
    justify-content: center;
  }
  .edulogo {
    width: 65px;
    height: 70px;
  } 
}
@media screen and (max-width: 1000px) {
  #resumecontainer {
    flex-direction: column;
  }
  #downloaddiv {
    margin: 0px;
  }
  #resumedownload {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .navelement {
    font-size: 18px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .navcontainer {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .pagetitle {
    font-size: 25px;
  }
  .pagetitlediv {
    justify-content: center;
    display: flex;
    margin: 5px 0px 20px 0px;
  }
  #download {
    font-size: 38px;
    margin-left: 10px;
  }
  #downloadimg {
    width: 63px;
    margin-left: 3px;
  }
  #resumepage {
    margin: 0px 0px 30px 0px;
  }
  .edulogo, .galogo {
    width: 50px;
    height: 55px;
  }
  .school {
    font-size: 25px;
  }
  .edulocation, .eduyear {
    font-size: 15px;
  }
  .schoollogo {
    margin-right: 15px;
    margin-top: 30px;
  }
  .degree {
    font-size: 22px;
  }
  .gpa {
    font-size: 18px;
  }
}
/* Projects */
@media screen and (min-width: 1250px) {
  .projectimg {
    width: 500px;
    height: 425px;
  }
  .weatherdiv {
    margin-left: 100px;
  }
  .repo {
    font-size: 32px;
  }
  .seemore {
    font-size: 23px;
  }
  .details {
    font-size: 60px;
  }
  .projectinfo {
    margin: 10px 0px 35px 0px;
  }
}
@media screen and (min-width:1350px) {
  .weatherdiv {
    margin-left: 150px;
  }
  .projectpage {
    font-size: 40px;
  }
  .projecttitle {
    font-size: 45px;
  }
  .repo {
    font-size: 35px;
  }
}
@media screen and (max-width: 1170px) {
  .projectimg {
    width: 400px;
    height: 340px;
  }
  .detailsdiv {
    width: 400px;
   }
   .weatherdiv {
    margin-left: 75px;
   }
   .igicon, .spoticon, .leo {
    width: 40px;
    height: auto;
  }
  .bioab {
    font-size: 21px;
  }
}
@media screen and (max-width: 950px) {
  .projectimg {
    width: 325px;
    height: 276px;
  }
  .repo {
    font-size: 27px;
  }
  .projecttitle {
    font-size: 34px;
  }
  .linkicon {
    width: 44px;
  }
  .weatherdiv {
    margin-left: 50px;
  }
  .detailsdiv {
    width: 350px;
  }
  .allprojects {
    margin-top: 30px;
  }
}
/* @media screen and (max-width: 830px) {
  .allprojects {
    flex-direction: column;
  }
} */
@media screen and (max-width: 785px) {
  .weatherdiv {
    margin-left: 40px;
  }
  .detailsdiv {
    width: 320px;
  }
  .seemore {
    font-size: 18px;
  }
}
@media screen and (max-width: 735px) {
  .allprojects {
    flex-direction: column;
  }
  .weatherdiv {
    margin: 20px 0px 25px 0px;
  }
  #projecttitle {
    display: flex;
    justify-content: center;
  }
  .projectscontainer {
    margin-top: 10px;
  }
  .gallerydetail {
    margin-bottom: 20px;
  }
}

/* @media screen and (max-width: 850px) {
 .aboutcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
} */

@media screen and (max-width: 1330px) {
  .aboutpic {
    width: 350px;
    margin-top: 130px;
  }
}
@media screen and (max-width: 1000px) {
  .aboutpic {
    width: 300px;
    margin-top: 165px;
  }
  .bioab {
    font-size: 18px;
   }
}
@media screen and (max-width: 850px) {
  .aboutpic {
    margin: 0px 0px 10px 0px;
    width: 275px;
  }
  .aboutcontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #abouttitle {
    display: none;
  }
  .igmusic {
    display: none;
  }
  .abouttitle2 {
    display: block;
    margin: 20px 0px 20px 0px;
    text-align: center;
  }
  #abouttitle2 {
    margin-bottom: 12px;
  }
  #about, .about {
    margin-left: 0px;
  }
  #about {
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
  .aboutpic {
    width: 225px;
  }
  .bioab {
    font-size: 15px;
  }
}

@media screen and (min-width: 1275px) {
  #name {
    font-size: 70px;
  }
  #title {
    font-size: 55px;
  }
  #brandstatement {
    font-size: 22px;
  }
  #headshot {
    width: 400px;
  }
  #titlediv {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1200px) {
  #headshot {
    width: 300px;
    margin-left: 55px;
  }
  #name {
    font-size: 50px;
  }
  #titile {
    font-size: 35px;
  }
  #brandstatement {
    font-size: 18px;
    margin-right: 0px;
  }
}
/* 870 */

